In [1]:
from datasets import load_dataset
import pandas as pd

c:\Users\alvar\miniconda3\envs\mentor-eval-datasets\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
from datasets import load_dataset
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# pd.set_option('display.width', None)
# pd.set_option('display.max_colwidth', None)

## Mohler

In [3]:
mohler_rote= r"C:\Users\alvar\Desktop\mohler_dataset_edited.csv"

df = pd.read_csv(mohler_rote)
df.shape

(2273, 7)

In [4]:
df.head()

,id,question,desired_answer,student_answer,score_me,score_other,score_avg
0,1.1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,High risk problems are address in the prototyp...,4.0,3.0,3.5
1,1.1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,To simulate portions of the desired final prod...,5.0,5.0,5.0
2,1.1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,A prototype program simulates the behaviors of...,5.0,3.0,4.0
3,1.1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,Defined in the Specification phase a prototype...,5.0,5.0,5.0
4,1.1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,It is used to let the users have a first idea ...,3.0,3.0,3.0

## ASAP2

In [5]:
asap2_path = r"C:\Users\alvar\Githubs\mentor-eval\datasets\asap2\ASAP2_train_sourcetexts.csv"
asap2_df = pd.read_csv(asap2_path)

asap2_df.shape

(24728, 14)

In [6]:
asap2_df.head()

,essay_id,score,full_text,assignment,prompt_name,economically_disadvantaged,student_disability_status,ell_status,race_ethnicity,gender,source_text_1,source_text_2,source_text_3,source_text_4
0,AAAVUP14319000159574,4,The author suggests that studying Venus is wor...,"In ""The Challenge of Exploring Venus,"" the aut...",Exploring Venus,Economically disadvantaged,Identified as having disability,No,Black/African American,F,"The Challenge of Exploring Venus\nVenus, somet...",NaN,NaN,NaN
1,AAAVUP14319000159542,2,NASA is fighting to be alble to to go to Venus...,"In ""The Challenge of Exploring Venus,"" the aut...",Exploring Venus,Not economically disadvantaged,Not identified as having disability,No,Hispanic/Latino,F,"The Challenge of Exploring Venus\nVenus, somet...",NaN,NaN,NaN
2,AAAVUP14319000159461,3,"""The Evening Star"", is one of the brightest po...","In ""The Challenge of Exploring Venus,"" the aut...",Exploring Venus,Economically disadvantaged,Identified as having disability,No,White,M,"The Challenge of Exploring Venus\nVenus, somet...",NaN,NaN,NaN
3,AAAVUP14319000159420,2,The author supports this idea because from rea...,"In ""The Challenge of Exploring Venus,"" the aut...",Exploring Venus,Economically disadvantaged,Not identified as having disability,Yes,Hispanic/Latino,F,"The Challenge of Exploring Venus\nVenus, somet...",NaN,NaN,NaN
4,AAAVUP14319000159419,2,How the author supports this idea is that he s...,"In ""The Challenge of Exploring Venus,"" the aut...",Exploring Venus,Economically disadvantaged,Not identified as having disability,Yes,Hispanic/Latino,M,"The Challenge of Exploring Venus\nVenus, somet...",NaN,NaN,NaN

In [7]:
asap2_df['assignment'].value_counts()

assignment
In the article “Driverless Cars are Coming,” the author presents both positive and negative aspects of driverless cars. Using details from the article, create an argument for or against the development of these cars.  Be sure to include: your position on driverless cars; appropriate details from the article that support your position; an introduction, a body, and a conclusion to your argumentative essay.                                                                                                                                                                                                   6170
In the article "Making Mona Lisa Smile," the author describes how a new technology called the Facial Action Coding System enables computers to identify human emotions. Using details from the article, write an essay arguing whether the use of this technology to read the emotional expressions of students in a classroom is valuable.                                                                                                                                                                                                                                                                               4883
In "The Challenge of Exploring Venus," the author suggests studying Venus is a worthy pursuit despite the dangers it presents. Using details from the article, write an essay evaluating how well the author supports this idea. Be sure to include: a claim that evaluates how well the author supports the idea that studying Venus is a worthy pursuit despite the dangers; an explanation of the evidence from the article that supports your claim; an introduction, a body, and a conclusion to your essay.                                                                                                         4480
You have read the article 'Unmasking the Face on Mars.' Imagine you are a scientist at NASA discussing the Face with someone who thinks it was created by aliens. Using information in the article, write an argumentative essay to convince someone that the Face is just a natural landform.Be sure to include: claims to support your argument that the Face is a natural landform; evidence from the article to support your claims; an introduction, a body, and a conclusion to your argumentative essay.                                                                                                           3015
You have just read the article, 'A Cowboy Who Rode the Waves.' Luke's participation in the Seagoing Cowboys program allowed him to experience adventures and visit many unique places. Using information from the article, write an argument from Luke's point of view convincing others to participate in the Seagoing Cowboys program. Be sure to include: reasons to join the program; details from the article to support Luke's claims; an introduction, a body, and a conclusion to your essay.                                                                                                                     2175
Write a letter to your state senator in which you argue in favor of keeping the Electoral College or changing to election by popular vote for the president of the United States. Use the information from the texts in your essay. Manage your time carefully so that you can read the passages; plan your response; write your response; and revise and edit your response. Be sure to include a claim; address counterclaims; use evidence from multiple sources; and avoid overly relying on one source. Your response should be in the form of a multiparagraph essay. Write your response in the space provided.    2046
Write an explanatory essay to inform fellow citizens about the advantages of limiting car usage. Your essay must be based on ideas and information that can be found in the passage set. Manage your time carefully so that you can read the passages; plan your response; write your response; and revise and edit your response. Be sure to use evidence from multiple sources; and avoid overly relying on one source. Your response should be in the form of a multiparagraph essay. Write your essay in the space provided.                                                                                          1959
Name: count, dtype: int64

In [8]:
for col_name, value in asap2_df.iloc[100].items():
    print(f"- {col_name}: {value}")

- essay_id: AAAVUP14319000155922
- score: 3
- full_text: They want people to go study in Venus but it is a darngeous planet. is it even woth to risk their lives on this mission. But their i many sloution to that problem. Thesis :The problem studying a venus is the risk, dranger, tempeature but should not should not stop us.

In the Article "The Challenge of Exploring Venus" reported Venus is dangerous becuase they sent a spacecarft to space. Not many people surivied

died in a few hour. In a lifetime no one has been able to land on life time. Venus it is a very hot planet include Powerful earthquakes and lighting that Strike to the land of Venus surface. There temperature is around 800 dergree that is 10x tempearutre what were use to earth. No wonder why Venus it is very darngeous not able many people could not survice.

In the Article

"The Challenge Exploring Venus" reperoted

Venus was not always a dangerous planet becuase long time it use to be earth life. Example the rocky surface some Feature are include what we have life on eath. Valley and Mountains it make scientists want to go back to study in venus. NASA are coming up with some ways Scientist can go study in Venus. Then we can know more about the planet. One day Venus might go back to earth life won't be as dangerous.

In the Article "The Challenge Exploring Venus NASA"reproted NASA is caming with intvend For Studying In Venus. One is Vechile above 30 mile above surface It would help by not staying on the groud because the bad effect it had. The temperature would be close to earth level won't be easy but human would be able to survice. But also ned to get close to the planet even know that risk their going to take. inculding their going to be a machine allow know about Venus. The machine were made in 1940 in world war 2 were very imprortant. By using the Machine the tin wold not be able to melt.

Conclusion: Even through Venus is very dareous planet to Study. Those people should just take the risk to Study at venus. NASA is coming up with many ways to keep the people safte. Maybe one day Venus can go back to earth lice
- assignment: In "The Challenge of Exploring Venus," the author suggests studying Venus is a worthy pursuit despite the dangers it presents. Using details from the article, write an essay evaluating how well the author supports this idea. Be sure to include: a claim that evaluates how well the author supports the idea that studying Venus is a worthy pursuit despite the dangers; an explanation of the evidence from the article that supports your claim; an introduction, a body, and a conclusion to your essay.
- prompt_name: Exploring Venus
- economically_disadvantaged: Economically disadvantaged
- student_disability_status: Identified as having disability
- ell_status: Yes
- race_ethnicity: Hispanic/Latino
- gender: F
- source_text_1: The Challenge of Exploring Venus
Venus, sometimes called the “Evening Star,” is one of the brightest points of light in the night sky, making it simple for even and amateur stargazer to spot. However, this nickname is misleading since Venus is actually a planet. While Venus is simple to see from the distant but safe vantage point of Earth, it has proved a very challenging place to examine more closely.
Often referred to as Earth's “twin,” Venus is the closest planet to Earth in terms of density and size, and occasionally the closest in distance too. Earth, Venus, and Mars, our other planetary neighbor, orbit the sun at different speeds. These differences in speed mean that sometimes we are closer to Mars and other times to Venus. Because Venus is sometimes right around the corner - in space terms - humans have spent numerous spacecraft to land on this cloud-draped world. Each previous mission was unmanned, and for good reason, since no spacecraft survived the landing for more than a few hours. Maybe this issue explains why not a single spaceship has touched down of Venus in more than three decades. Numberous factors contribute to Venus's reputation as a challenging planet for humans to study, despite its proximity to us.
A thick atmosphere of almost 97 percent carbon dioxide blankets Venus. Even more challenging are the clouds of highly corrosive sulfuric acid in Venus's atmosphere. On the planet's surface, temperatures average over 800 degrees Fahrenheit, and the atmospheric pressure is 90 times greater than what we experience on our own planet. These conditions are far more extreme than anything humans encounter on Earth; such an environment would crush even a submarine accustomed to diving to the deepest parts of our oceans and would liquefy many metals. Also notable, Venus has the hottest surface temperature of any planet in our solar system, even though Mercury is closer to our sun. Beyond high presure and heat, Venusian geology and weather present additional impediments like erupting volcanoes, powerful earthquakes, and frequent lightning strikes to probes seeking to land on its surface.
If our sister is so inhospitable, why are scientists even discussing further visits to its surface? Astronomers are fascinated by Venus beccause it may well once have been the most Earth-like planet in our solar system. Long ago, Venus was probably covered largely with oceans and could have supported various forms of life, just like Earth. Today, Venus still has some features that are analogous to those on Earth. The planet has a surface of rocky sediment and includes familiar features such as valleys, mountains, and craters. Furthermore, recall that Venus can sometimes be our nearest option for a planetary visit, a crucial consideration given the long time frames of space travel. The value of returning to Venus seems indisputable, but what are the options for making such a mission both safe and scientifically productive?
The National Aeronautics and Space Administration (NASA) has one particularly compelling idea for sending humans to study Venus. NASA's possible solution to the hostile conditions on the surface of Venus would allow scientists to float above the fray. Imagine a blimp-like vehicle hovering 30 or so miles above the roiling Venusian landscape. Just as our jet airplanes travel at a higher altitude to fly over many storms, a vehicle hovering over Venus would avoid the unfriendly ground conditions by staying up and out of their way. At thirty-plus miles above the surface, temperatures would still be toasty at around 170 degrees Farenheit, but the air pressure would be close to that of sea level on Earth. Solar power would be plentiful, and radiation would not exceed Earth levels. Not easy conditions, but survivable for humans.
However, peering at Venus from a ship orbiting or hovering safely far above the planet can provide only limited insight on ground conditions rendering standard forms of photography and videography ineffective. More importantly, researchers cannot take samples of rock, gas, or anything else, from a distance. Therefore, scientists seeking to conduct a thorough mission to understand Venus would need to get up close and personal despite the risks. Or maybe we should think of them as challenges. Many researchers are working on innovattions that would allow our machines to last long enough to contribute meaningfully to our knowledge of Venus.
NASA is working on other approaches to studying Venus. For example, some simplified electronics made of silicon carbide have been tested in a chamber simuulating the chaos of Venus's surface and have laster for three weeks in such conditions. Another project is looking back to an old technology called mechanical computers. These devices were first envisioned in the 1800s and played an important role int he 1940s during World War II. The thought of computers existing in those days may sound shocking, but these devices make calculations by using gears and levers and do not require electronics at all. Modern commputers are enormously powerful, flexible, and quick, but tend to be more delicate when it comes to extreme physical conditions. Just imagine exposing a cell phone or tablet to acid or heat capable of melting tin. By comparison, systems that use mechanical parts can be made mroe resistant to pressure, heat, and other forces.
Striving to meet the challenge presented by Venus has value, not only because of the insight to be gained on the planet itself, but also because human curiousity will likely lead us into many equally intimidating endeavors. Our travels on Earth and beyond should not be limited by dangers and doubts but should be expanded to meet the very edges of imagination and innovation.
- source_text_2: nan
- source_text_3: nan
- source_text_4: nan

## ASAP

In [9]:
asap_file = r"C:\Users\alvar\Githubs\mentor-eval\datasets\asap-aes\training_set_rel3.xlsx"
df = pd.read_excel(asap_file)
df.shape

(12978, 28)

In [10]:
df.head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,rater1_trait1,rater1_trait2,rater1_trait3,rater1_trait4,rater1_trait5,rater1_trait6,rater2_trait1,rater2_trait2,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.iloc[2980:2985].head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,rater1_trait1,rater1_trait2,rater1_trait3,rater1_trait4,rater1_trait5,rater1_trait6,rater2_trait1,rater2_trait2,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
2980,4175,2,Libraries @CAPS1 are many libraries...,3.0,3.0,NaN,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2981,4176,2,Good? Bad? Offensive or not? These are just a ...,5.0,5.0,NaN,5.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2982,4177,2,When it comes to the decision of certain mater...,4.0,4.0,NaN,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2983,4178,2,I think that the music and other things beside...,4.0,3.0,NaN,4.0,3.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2984,4179,2,"In my opinion, I do believe we should not have...",3.0,3.0,NaN,3.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Create a dictionary to store dataframes by essay_set
essay_sets = {}

# Split the dataframe by essay_set
for set_id in df['essay_set'].unique():
    essay_sets[set_id] = df[df['essay_set'] == set_id]

# For each essay set, print min and max of numeric columns
for set_id, set_df in essay_sets.items():
    print(f"\nEssay Set {set_id}:")
    print("-" * 50)
    
    # Get numeric columns
    numeric_cols = set_df.select_dtypes(include=['int64', 'float64']).columns
    
    # Print min and max for each numeric column
    for col in numeric_cols:
        print(f"{col}:")
        print(f"  Min: {set_df[col].min()}")
        print(f"  Max: {set_df[col].max()}")
    
    # Check all domain scores against their corresponding rater scores
    domain_cols = [col for col in set_df.columns if col.startswith('domain') and col.endswith('_score')]
    
    for domain_col in domain_cols:
        domain_num = domain_col.replace('domain', '').replace('_score', '')
        rater_cols = [col for col in set_df.columns if col.startswith(f'rater') and f'domain{domain_num}' in col]
        
        # Only check if we have both domain score and at least one rater
        if domain_col in set_df.columns and rater_cols:
            # Get non-null domain scores
            valid_scores = set_df[domain_col].notna()
            
            if valid_scores.any():
                if set_id == 1:
                    # For essay set 1, sum all non-null rater scores
                    total_raters = set_df[rater_cols].sum(axis=1)
                    matches = (set_df[domain_col] == total_raters).mean() * 100
                    print(f"\nPercentage where {domain_col} matches sum of rater scores: {matches:.2f}%")
                else:
                    # For other essay sets, calculate average of rater scores
                    avg_raters = set_df[rater_cols].mean(axis=1)
                    matches = (set_df[domain_col] == avg_raters).mean() * 100
                    print(f"\nPercentage where {domain_col} matches average of rater scores: {matches:.2f}%")
#

Essay Set 1:
--------------------------------------------------
essay_id:
  Min: 1
  Max: 1787
essay_set:
  Min: 1
  Max: 1
rater1_domain1:
  Min: 1.0
  Max: 6.0
rater2_domain1:
  Min: 1.0
  Max: 6.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 2.0
  Max: 12.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: nan
  Max: nan
rater1_trait2:
  Min: nan
  Max: nan
rater1_trait3:
  Min: nan
  Max: nan
rater1_trait4:
  Min: nan
  Max: nan
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: nan
  Max: nan
rater2_trait2:
  Min: nan
  Max: nan
rater2_trait3:
  Min: nan
  Max: nan
rater2_trait4:
  Min: nan
  Max: nan
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches sum of rater scores: 100.00%

Essay Set 2:
--------------------------------------------------
essay_id:
  Min: 2978
  Max: 4777
essay_set:
  Min: 2
  Max: 2
rater1_domain1:
  Min: 1.0
  Max: 6.0
rater2_domain1:
  Min: 1.0
  Max: 6.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 1.0
  Max: 6.0
rater1_domain2:
  Min: 1.0
  Max: 4.0
rater2_domain2:
  Min: 1.0
  Max: 4.0
domain2_score:
  Min: 1.0
  Max: 4.0
rater1_trait1:
  Min: nan
  Max: nan
rater1_trait2:
  Min: nan
  Max: nan
rater1_trait3:
  Min: nan
  Max: nan
rater1_trait4:
  Min: nan
  Max: nan
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: nan
  Max: nan
rater2_trait2:
  Min: nan
  Max: nan
rater2_trait3:
  Min: nan
  Max: nan
rater2_trait4:
  Min: nan
  Max: nan
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches average of rater scores: 78.33%

Percentage where domain2_score matches average of rater scores: 79.67%

Essay Set 3:
--------------------------------------------------
essay_id:
  Min: 5978
  Max: 7708
essay_set:
  Min: 3
  Max: 3
rater1_domain1:
  Min: 0.0
  Max: 3.0
rater2_domain1:
  Min: 0.0
  Max: 3.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 0.0
  Max: 3.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: nan
  Max: nan
rater1_trait2:
  Min: nan
  Max: nan
rater1_trait3:
  Min: nan
  Max: nan
rater1_trait4:
  Min: nan
  Max: nan
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: nan
  Max: nan
rater2_trait2:
  Min: nan
  Max: nan
rater2_trait3:
  Min: nan
  Max: nan
rater2_trait4:
  Min: nan
  Max: nan
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches average of rater scores: 74.86%

Essay Set 4:
--------------------------------------------------
essay_id:
  Min: 8863
  Max: 10642
essay_set:
  Min: 4
  Max: 4
rater1_domain1:
  Min: 0.0
  Max: 3.0
rater2_domain1:
  Min: 0.0
  Max: 3.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 0.0
  Max: 3.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: nan
  Max: nan
rater1_trait2:
  Min: nan
  Max: nan
rater1_trait3:
  Min: nan
  Max: nan
rater1_trait4:
  Min: nan
  Max: nan
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: nan
  Max: nan
rater2_trait2:
  Min: nan
  Max: nan
rater2_trait3:
  Min: nan
  Max: nan
rater2_trait4:
  Min: nan
  Max: nan
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches average of rater scores: 77.20%

Essay Set 5:
--------------------------------------------------
essay_id:
  Min: 11827
  Max: 13631
essay_set:
  Min: 5
  Max: 5
rater1_domain1:
  Min: 0.0
  Max: 4.0
rater2_domain1:
  Min: 0.0
  Max: 4.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 0.0
  Max: 4.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: nan
  Max: nan
rater1_trait2:
  Min: nan
  Max: nan
rater1_trait3:
  Min: nan
  Max: nan
rater1_trait4:
  Min: nan
  Max: nan
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: nan
  Max: nan
rater2_trait2:
  Min: nan
  Max: nan
rater2_trait3:
  Min: nan
  Max: nan
rater2_trait4:
  Min: nan
  Max: nan
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches average of rater scores: 59.06%

Essay Set 6:
--------------------------------------------------
essay_id:
  Min: 14834
  Max: 16633
essay_set:
  Min: 6
  Max: 6
rater1_domain1:
  Min: 0.0
  Max: 4.0
rater2_domain1:
  Min: 0.0
  Max: 4.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 0.0
  Max: 4.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: nan
  Max: nan
rater1_trait2:
  Min: nan
  Max: nan
rater1_trait3:
  Min: nan
  Max: nan
rater1_trait4:
  Min: nan
  Max: nan
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: nan
  Max: nan
rater2_trait2:
  Min: nan
  Max: nan
rater2_trait3:
  Min: nan
  Max: nan
rater2_trait4:
  Min: nan
  Max: nan
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches average of rater scores: 62.44%

Essay Set 7:
--------------------------------------------------
essay_id:
  Min: 17834
  Max: 19563
essay_set:
  Min: 7
  Max: 7
rater1_domain1:
  Min: 0.0
  Max: 12.0
rater2_domain1:
  Min: 0.0
  Max: 12.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 2.0
  Max: 24.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: 0.0
  Max: 3.0
rater1_trait2:
  Min: 0.0
  Max: 3.0
rater1_trait3:
  Min: 0.0
  Max: 3.0
rater1_trait4:
  Min: 0.0
  Max: 3.0
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: 0.0
  Max: 3.0
rater2_trait2:
  Min: 0.0
  Max: 3.0
rater2_trait3:
  Min: 0.0
  Max: 3.0
rater2_trait4:
  Min: 0.0
  Max: 3.0
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches average of rater scores: 0.00%

Essay Set 8:
--------------------------------------------------
essay_id:
  Min: 20716
  Max: 21633
essay_set:
  Min: 8
  Max: 8
rater1_domain1:
  Min: 5.0
  Max: 30.0
rater2_domain1:
  Min: 5.0
  Max: 30.0
rater3_domain1:
  Min: 20.0
  Max: 50.0
domain1_score:
  Min: 10.0
  Max: 60.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: 1.0
  Max: 6.0
rater1_trait2:
  Min: 1.0
  Max: 6.0
rater1_trait3:
  Min: 1.0
  Max: 6.0
rater1_trait4:
  Min: 1.0
  Max: 6.0
rater1_trait5:
  Min: 1.0
  Max: 6.0
rater1_trait6:
  Min: 1.0
  Max: 6.0
rater2_trait1:
  Min: 1.0
  Max: 6.0
rater2_trait2:
  Min: 1.0
  Max: 6.0
rater2_trait3:
  Min: 1.0
  Max: 6.0
rater2_trait4:
  Min: 1.0
  Max: 6.0
rater2_trait5:
  Min: 1.0
  Max: 6.0
rater2_trait6:
  Min: 1.0
  Max: 6.0
rater3_trait1:
  Min: 2.0
  Max: 6.0
rater3_trait2:
  Min: 2.0
  Max: 6.0
rater3_trait3:
  Min: 2.0
  Max: 6.0
rater3_trait4:
  Min: 3.0
  Max: 6.0
rater3_trait5:
  Min: 2.0
  Max: 5.0
rater3_trait6:
  Min: 2.0
  Max: 5.0

Percentage where domain1_score matches average of rater scores: 0.00%

# Cleaning

In [11]:
import os
from docx2txt import process

# Path to the folder containing docx files
folder_path = r"C:\Users\alvar\Githubs\mentor-eval\datasets\asap-aes\Essay_Set_Descriptions"

# Create output folder if it doesn't exist
output_folder = os.path.join(folder_path, "txt_output")
os.makedirs(output_folder, exist_ok=True)

# Convert each docx file to txt
for filename in os.listdir(folder_path):
    if filename.endswith(".docx"):
        # Get full file paths
        docx_path = os.path.join(folder_path, filename)
        txt_path = os.path.join(output_folder, filename.replace(".docx", ".txt"))
        
        # Convert docx to text
        text = process(docx_path)
        
        # Save text to file
        with open(txt_path, "w", encoding="utf-8") as f:
            f.write(text)
            
        print(f"Converted {filename} to txt")

Converted Essay Set #1--ReadMeFirst.docx to txt
Converted Essay Set #2--ReadMeFirst.docx to txt
Converted Essay Set #3--ReadMeFirst.docx to txt
Converted Essay Set #4--ReadMeFirst.docx to txt
Converted Essay Set #5--ReadMeFirst.docx to txt
Converted Essay Set #6--ReadMeFirst.docx to txt
Converted Essay Set #7--ReadMeFirst.docx to txt
Converted Essay Set #8--ReadMeFirst.docx to txt