In [2]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# pd.set_option('display.width', None)
# pd.set_option('display.max_colwidth', None)

## Mohler

In [3]:
mohler_rote= r"C:\Users\alvar\Desktop\mohler_dataset_edited.csv"

df = pd.read_csv(mohler_rote)
df.shape

(2273, 7)

In [4]:
df.head()

,id,question,desired_answer,student_answer,score_me,score_other,score_avg
0,1.1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,High risk problems are address in the prototyp...,4.0,3.0,3.5
1,1.1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,To simulate portions of the desired final prod...,5.0,5.0,5.0
2,1.1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,A prototype program simulates the behaviors of...,5.0,3.0,4.0
3,1.1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,Defined in the Specification phase a prototype...,5.0,5.0,5.0
4,1.1,What is the role of a prototype program in pro...,To simulate the behaviour of portions of the d...,It is used to let the users have a first idea ...,3.0,3.0,3.0

## ASAP2

In [18]:
asap2_path = r"C:\Users\alvar\Githubs\mentor-eval\datasets\asap2\asap2_student_responses_and_evaluations.csv"
asap2_df = pd.read_csv(asap2_path)

asap2_df.shape

(24728, 9)

In [19]:
asap2_df.head()

,score,student_text,exercise,economically_disadvantaged,student_disability_status,ell_status,race_ethnicity,gender,exercise_set
0,4,The author suggests that studying Venus is wor...,exploring_venus,Economically disadvantaged,Identified as having disability,No,Black/African American,F,3
1,2,NASA is fighting to be alble to to go to Venus...,exploring_venus,Not economically disadvantaged,Not identified as having disability,No,Hispanic/Latino,F,3
2,3,"""The Evening Star"", is one of the brightest po...",exploring_venus,Economically disadvantaged,Identified as having disability,No,White,M,3
3,2,The author supports this idea because from rea...,exploring_venus,Economically disadvantaged,Not identified as having disability,Yes,Hispanic/Latino,F,3
4,2,How the author supports this idea is that he s...,exploring_venus,Economically disadvantaged,Not identified as having disability,Yes,Hispanic/Latino,M,3

In [15]:
# Create mapping dictionary
exercise_to_set = {
    'driverless_cars': 1,
    'facial_action_coding_system': 2, 
    'exploring_venus': 3,
    'the_face_on_mars': 4,
    'a_cowboy_who_rode_the_waves': 5,
    'does_the_electoral_college_work': 6,
    'car_free_cities': 7
}

# Add exercise_set column based on exercise column
asap2_df['exercise_set'] = asap2_df['exercise'].map(exercise_to_set)

# Show value counts of original exercise column
asap2_df['exercise'].value_counts()

exercise
driverless_cars                    6170
facial_action_coding_system        4883
exploring_venus                    4480
the_face_on_mars                   3015
a_cowboy_who_rode_the_waves        2175
does_the_electoral_college_work    2046
car_free_cities                    1959
Name: count, dtype: int64

In [17]:
# Save the DataFrame to CSV
asap2_df.to_csv(r"C:\Users\alvar\Githubs\mentor-eval\datasets\asap2\asap2_student_responses_and_evaluations.csv", index=False)

## ASAP

In [8]:
asap_file = r"C:\Users\alvar\Githubs\mentor-eval\datasets\asap\asap_student_responses_and_evaluations.xlsx"
df = pd.read_excel(asap_file)
df.shape

(12978, 28)

In [9]:
df.head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,rater1_trait1,rater1_trait2,rater1_trait3,rater1_trait4,rater1_trait5,rater1_trait6,rater2_trait1,rater2_trait2,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
len(df['essay_id'].unique())

12978

In [11]:
df['essay_id'].describe()

count    12978.000000
mean     10295.432809
std       6308.588616
min          1.000000
25%       4439.250000
50%      10045.500000
75%      15680.750000
max      21633.000000
Name: essay_id, dtype: float64

In [12]:
df.shape

(12978, 28)

In [13]:
# Create a dictionary to store dataframes by essay_set
essay_sets = {}

# Split the dataframe by essay_set
for set_id in df['essay_set'].unique():
    essay_sets[set_id] = df[df['essay_set'] == set_id]

# For each essay set, print min and max of numeric columns
for set_id, set_df in essay_sets.items():
    print(f"\nEssay Set {set_id}:")
    print("-" * 50)
    
    # Get numeric columns
    numeric_cols = set_df.select_dtypes(include=['int64', 'float64']).columns
    
    # Print min and max for each numeric column
    for col in numeric_cols:
        print(f"{col}:")
        print(f"  Min: {set_df[col].min()}")
        print(f"  Max: {set_df[col].max()}")
    
    # Check all domain scores against their corresponding rater scores
    domain_cols = [col for col in set_df.columns if col.startswith('domain') and col.endswith('_score')]
    
    for domain_col in domain_cols:
        domain_num = domain_col.replace('domain', '').replace('_score', '')
        rater_cols = [col for col in set_df.columns if col.startswith(f'rater') and f'domain{domain_num}' in col]
        
        # Only check if we have both domain score and at least one rater
        if domain_col in set_df.columns and rater_cols:
            # Get non-null domain scores
            valid_scores = set_df[domain_col].notna()
            
            if valid_scores.any():
                if set_id in [1, 7, 8]:
                    # For essay sets 1, 7, and 8, sum all non-null rater scores
                    # Only consider non-null values when summing
                    total_raters = set_df[rater_cols].apply(lambda x: x.dropna().sum(), axis=1)
                    matches = (set_df[domain_col] == total_raters).mean() * 100
                    print(f"\nPercentage where {domain_col} matches sum of rater scores: {matches:.2f}%")
                    
                    # Print an example of non-matching scores
                    non_matches = set_df[domain_col] != total_raters
                    if non_matches.any():
                        example_idx = non_matches[non_matches].index[0]
                        print(f"\nExample of non-matching scores (Row {example_idx}):")
                        print(f"Domain score: {set_df.loc[example_idx, domain_col]}")
                        print(f"Sum of rater scores: {total_raters[example_idx]}")
                        print(f"Individual rater scores: {set_df.loc[example_idx, rater_cols].to_dict()}")
                else:
                    # For other essay sets, calculate average of rater scores
                    # Only consider non-null values when averaging
                    avg_raters = set_df[rater_cols].apply(lambda x: x.dropna().mean(), axis=1)
                    # Consider scores matching if difference is less than 1
                    matches = (abs(set_df[domain_col] - avg_raters) < 1).mean() * 100
                    print(f"\nPercentage where {domain_col} matches average of rater scores (within 1 point): {matches:.2f}%")
                    
                    # Print an example of non-matching scores
                    non_matches = abs(set_df[domain_col] - avg_raters) >= 1
                    if non_matches.any():
                        example_idx = non_matches[non_matches].index[0]
                        print(f"\nExample of non-matching scores (Row {example_idx}):")
                        print(f"Domain score: {set_df.loc[example_idx, domain_col]}")
                        print(f"Average of rater scores: {avg_raters[example_idx]:.2f}")
                        print(f"Difference: {abs(set_df.loc[example_idx, domain_col] - avg_raters[example_idx]):.2f}")
                        print(f"Individual rater scores: {set_df.loc[example_idx, rater_cols].to_dict()}")

Essay Set 1:
--------------------------------------------------
essay_id:
  Min: 1
  Max: 1787
essay_set:
  Min: 1
  Max: 1
rater1_domain1:
  Min: 1.0
  Max: 6.0
rater2_domain1:
  Min: 1.0
  Max: 6.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 2.0
  Max: 12.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: nan
  Max: nan
rater1_trait2:
  Min: nan
  Max: nan
rater1_trait3:
  Min: nan
  Max: nan
rater1_trait4:
  Min: nan
  Max: nan
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: nan
  Max: nan
rater2_trait2:
  Min: nan
  Max: nan
rater2_trait3:
  Min: nan
  Max: nan
rater2_trait4:
  Min: nan
  Max: nan
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches sum of rater scores: 100.00%

Essay Set 2:
--------------------------------------------------
essay_id:
  Min: 2978
  Max: 4777
essay_set:
  Min: 2
  Max: 2
rater1_domain1:
  Min: 1.0
  Max: 6.0
rater2_domain1:
  Min: 1.0
  Max: 6.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 1.0
  Max: 6.0
rater1_domain2:
  Min: 1.0
  Max: 4.0
rater2_domain2:
  Min: 1.0
  Max: 4.0
domain2_score:
  Min: 1.0
  Max: 4.0
rater1_trait1:
  Min: nan
  Max: nan
rater1_trait2:
  Min: nan
  Max: nan
rater1_trait3:
  Min: nan
  Max: nan
rater1_trait4:
  Min: nan
  Max: nan
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: nan
  Max: nan
rater2_trait2:
  Min: nan
  Max: nan
rater2_trait3:
  Min: nan
  Max: nan
rater2_trait4:
  Min: nan
  Max: nan
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches average of rater scores (within 1 point): 99.78%

Example of non-matching scores (Row 2233):
Domain score: 6.0
Average of rater scores: 5.00
Difference: 1.00
Individual rater scores: {'rater1_domain1': 6.0, 'rater2_domain1': 4.0, 'rater3_domain1': nan}

Percentage where domain2_score matches average of rater scores (within 1 point): 99.78%

Example of non-matching scores (Row 2158):
Domain score: 2.0
Average of rater scores: 3.00
Difference: 1.00
Individual rater scores: {'rater1_domain2': 2.0, 'rater2_domain2': 4.0}

Essay Set 3:
--------------------------------------------------
essay_id:
  Min: 5978
  Max: 7708
essay_set:
  Min: 3
  Max: 3
rater1_domain1:
  Min: 0.0
  Max: 3.0
rater2_domain1:
  Min: 0.0
  Max: 3.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 0.0
  Max: 3.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: nan
  Max: nan
rater1_trait2:
  Min: nan
  Max: nan
rater1_trait3:
  Min: nan
  Max: nan
rater1_trait4:
  Min: nan
  Max: nan
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: nan
  Max: nan
rater2_trait2:
  Min: nan
  Max: nan
rater2_trait3:
  Min: nan
  Max: nan
rater2_trait4:
  Min: nan
  Max: nan
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches average of rater scores (within 1 point): 99.71%

Example of non-matching scores (Row 3727):
Domain score: 3.0
Average of rater scores: 1.00
Difference: 2.00
Individual rater scores: {'rater1_domain1': 2.0, 'rater2_domain1': 0.0, 'rater3_domain1': nan}

Essay Set 4:
--------------------------------------------------
essay_id:
  Min: 8863
  Max: 10642
essay_set:
  Min: 4
  Max: 4
rater1_domain1:
  Min: 0.0
  Max: 3.0
rater2_domain1:
  Min: 0.0
  Max: 3.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 0.0
  Max: 3.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: nan
  Max: nan
rater1_trait2:
  Min: nan
  Max: nan
rater1_trait3:
  Min: nan
  Max: nan
rater1_trait4:
  Min: nan
  Max: nan
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: nan
  Max: nan
rater2_trait2:
  Min: nan
  Max: nan
rater2_trait3:
  Min: nan
  Max: nan
rater2_trait4:
  Min: nan
  Max: nan
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches average of rater scores (within 1 point): 99.94%

Essay Set 5:
--------------------------------------------------
essay_id:
  Min: 11827
  Max: 13631
essay_set:
  Min: 5
  Max: 5
rater1_domain1:
  Min: 0.0
  Max: 4.0
rater2_domain1:
  Min: 0.0
  Max: 4.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 0.0
  Max: 4.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: nan
  Max: nan
rater1_trait2:
  Min: nan
  Max: nan
rater1_trait3:
  Min: nan
  Max: nan
rater1_trait4:
  Min: nan
  Max: nan
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: nan
  Max: nan
rater2_trait2:
  Min: nan
  Max: nan
rater2_trait3:
  Min: nan
  Max: nan
rater2_trait4:
  Min: nan
  Max: nan
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches average of rater scores (within 1 point): 99.06%

Example of non-matching scores (Row 7160):
Domain score: 4.0
Average of rater scores: 3.00
Difference: 1.00
Individual rater scores: {'rater1_domain1': 3.0, 'rater2_domain1': 3.0, 'rater3_domain1': nan}

Essay Set 6:
--------------------------------------------------
essay_id:
  Min: 14834
  Max: 16633
essay_set:
  Min: 6
  Max: 6
rater1_domain1:
  Min: 0.0
  Max: 4.0
rater2_domain1:
  Min: 0.0
  Max: 4.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 0.0
  Max: 4.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: nan
  Max: nan
rater1_trait2:
  Min: nan
  Max: nan
rater1_trait3:
  Min: nan
  Max: nan
rater1_trait4:
  Min: nan
  Max: nan
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: nan
  Max: nan
rater2_trait2:
  Min: nan
  Max: nan
rater2_trait3:
  Min: nan
  Max: nan
rater2_trait4:
  Min: nan
  Max: nan
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches average of rater scores (within 1 point): 98.67%

Example of non-matching scores (Row 8911):
Domain score: 2.0
Average of rater scores: 3.00
Difference: 1.00
Individual rater scores: {'rater1_domain1': 2.0, 'rater2_domain1': 4.0, 'rater3_domain1': nan}

Essay Set 7:
--------------------------------------------------
essay_id:
  Min: 17834
  Max: 19563
essay_set:
  Min: 7
  Max: 7
rater1_domain1:
  Min: 0.0
  Max: 12.0
rater2_domain1:
  Min: 0.0
  Max: 12.0
rater3_domain1:
  Min: nan
  Max: nan
domain1_score:
  Min: 2.0
  Max: 24.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: 0.0
  Max: 3.0
rater1_trait2:
  Min: 0.0
  Max: 3.0
rater1_trait3:
  Min: 0.0
  Max: 3.0
rater1_trait4:
  Min: 0.0
  Max: 3.0
rater1_trait5:
  Min: nan
  Max: nan
rater1_trait6:
  Min: nan
  Max: nan
rater2_trait1:
  Min: 0.0
  Max: 3.0
rater2_trait2:
  Min: 0.0
  Max: 3.0
rater2_trait3:
  Min: 0.0
  Max: 3.0
rater2_trait4:
  Min: 0.0
  Max: 3.0
rater2_trait5:
  Min: nan
  Max: nan
rater2_trait6:
  Min: nan
  Max: nan
rater3_trait1:
  Min: nan
  Max: nan
rater3_trait2:
  Min: nan
  Max: nan
rater3_trait3:
  Min: nan
  Max: nan
rater3_trait4:
  Min: nan
  Max: nan
rater3_trait5:
  Min: nan
  Max: nan
rater3_trait6:
  Min: nan
  Max: nan

Percentage where domain1_score matches sum of rater scores: 100.00%

Essay Set 8:
--------------------------------------------------
essay_id:
  Min: 20716
  Max: 21633
essay_set:
  Min: 8
  Max: 8
rater1_domain1:
  Min: 5.0
  Max: 30.0
rater2_domain1:
  Min: 5.0
  Max: 30.0
rater3_domain1:
  Min: 20.0
  Max: 50.0
domain1_score:
  Min: 10.0
  Max: 60.0
rater1_domain2:
  Min: nan
  Max: nan
rater2_domain2:
  Min: nan
  Max: nan
domain2_score:
  Min: nan
  Max: nan
rater1_trait1:
  Min: 1.0
  Max: 6.0
rater1_trait2:
  Min: 1.0
  Max: 6.0
rater1_trait3:
  Min: 1.0
  Max: 6.0
rater1_trait4:
  Min: 1.0
  Max: 6.0
rater1_trait5:
  Min: 1.0
  Max: 6.0
rater1_trait6:
  Min: 1.0
  Max: 6.0
rater2_trait1:
  Min: 1.0
  Max: 6.0
rater2_trait2:
  Min: 1.0
  Max: 6.0
rater2_trait3:
  Min: 1.0
  Max: 6.0
rater2_trait4:
  Min: 1.0
  Max: 6.0
rater2_trait5:
  Min: 1.0
  Max: 6.0
rater2_trait6:
  Min: 1.0
  Max: 6.0
rater3_trait1:
  Min: 2.0
  Max: 6.0
rater3_trait2:
  Min: 2.0
  Max: 6.0
rater3_trait3:
  Min: 2.0
  Max: 6.0
rater3_trait4:
  Min: 3.0
  Max: 6.0
rater3_trait5:
  Min: 2.0
  Max: 5.0
rater3_trait6:
  Min: 2.0
  Max: 5.0

Percentage where domain1_score matches sum of rater scores: 82.30%

Example of non-matching scores (Row 12256):
Domain score: 46.0
Sum of rater scores: 93.0
Individual rater scores: {'rater1_domain1': 21.0, 'rater2_domain1': 26.0, 'rater3_domain1': 46.0}

In [14]:
# Read the essay set descriptions Excel file
essay_set_descriptions = pd.read_excel(r"C:\Users\alvar\Githubs\mentor-eval\datasets\asap-aes\essay_set_descriptions.xlsx")

df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\alvar\\Githubs\\mentor-eval\\datasets\\asap-aes\\essay_set_descriptions.xlsx'